
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.th-serif{font-family:serif}.th-sans-serif{font-family:sans-serif}.th-cursive{font-family:cursive}.th-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.th-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
th-btn,.th-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.th-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.th-btn,.th-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.th-bar{width:100%;overflow:hidden}.th-center .th-bar{display:inline-block;width:auto}
.th-bar .th-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.th-bar .th-dropdown-hover,.th-bar .th-dropdown-click{position:static;float:left}
.th-bar .th-button{white-space:normal}
.th-bar-block .th-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.th-bar-block.th-center .th-bar-item{text-align:center}.th-block{display:block;width:100%}
.th-responsive{display:block;overflow-x:auto}
.th-container:after,.th-container:before,.th-panel:after,.th-panel:before,.th-row:after,.th-row:before,.th-row-padding:after,.th-row-padding:before,
.th-cell-row:before,.th-cell-row:after,.th-clear:after,.th-clear:before,.th-bar:before,.th-bar:after{content:"";display:table;clear:both}
.th-col,.th-half,.th-third,.th-twothird,.th-threequarter,.th-quarter{float:left;width:100%}
@media (min-width:601px){.th-col.m1{width:8.33333%}.th-col.m2{width:16.66666%}.th-col.m3,.th-quarter{width:24.99999%}.th-col.m4,.th-third{width:33.33333%}
.th-col.m5{width:41.66666%}.th-col.m6,.th-half{width:49.99999%}.th-col.m7{width:58.33333%}.th-col.m8,.th-twothird{width:66.66666%}
.th-col.m9,.th-threequarter{width:74.99999%}.th-col.m10{width:83.33333%}.th-col.m11{width:91.66666%}.th-col.m12{width:99.99999%}}
@media (min-width:993px){.th-col.l1{width:8.33333%}.th-col.l2{width:16.66666%}.th-col.l3{width:24.99999%}.th-col.l4{width:33.33333%}
.th-content,.th-auto{margin-left:auto;margin-right:auto}.th-content{max-width:980px}.th-auto{max-width:1140px}
@media (max-width:1205px){.th-auto{max-width:95%}}
@media (max-width:600px){.th-modal-content{margin:0 10px;width:auto!important}.th-modal{padding-top:30px}
.th-dropdown-hover.th-mobile .th-dropdown-content,.th-dropdown-click.th-mobile .th-dropdown-content{position:relative}	
.th-dropdown-hover.th-mobile,.th-dropdown-hover.th-mobile .th-btn,.th-dropdown-hover.th-mobile .th-button,.th-dropdown-click.th-mobile,.th-dropdown-click.th-mobile .th-btn,.th-dropdown-click.th-mobile .th-button{width:100%}}
@media (max-width:768px){.th-modal-content{width:500px}.th-modal{padding-top:50px}}
@media (min-width:993px){.th-modal-content{width:900px}.th-hide-large{display:none!important}.th-sidebar.th-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.th-hide-medium{display:none!important}}
@media (max-width:992px){.th-sidebar.th-collapse{display:none}.th-main{margin-left:0!important;margin-right:0!important}.th-auto{max-width:100%}}
.th-top,.th-bottom{position:fixed;width:100%;z-index:1}.th-top{top:0}.th-bottom{bottom:0}
.th-tiny{font-size:10px!important}.th-small{font-size:12px!important}.th-medium{font-size:15px!important}.th-large{font-size:18px!important}
.th-xlarge{font-size:24px!important}.th-xxlarge{font-size:36px!important}.th-xxxlarge{font-size:48px!important}.th-jumbo{font-size:64px!important}
.th-left-align{text-align:left!important}.th-right-align{text-align:right!important}.th-justify{text-align:justify!important}.th-center{text-align:center!important}
.th-margin{margin:16px!important}.th-margin-top{margin-top:16px!important}.th-margin-bottom{margin-bottom:16px!important}
.th-margin-left{margin-left:16px!important}.th-margin-right{margin-right:16px!important}
.th-padding-small{padding:4px 8px!important}.th-padding{padding:8px 16px!important}.th-padding-large{padding:12px 24px!important}
.th-padding-16{padding-top:16px!important;padding-bottom:16px!important}.th-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.th-padding-32{padding-left:72px!important;padding-bottom:32px!important}.th-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.th-padding-64{padding-top:64px!important;padding-bottom:64px!important}



.btn {
    display: inline-block;
    margin-bottom: 0rem;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
padding:10px;
}
@media screen and (min-width: 42em) and (max-width: 64em)
.btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
}
a {
  
    text-decoration: none;
}
a {
    background-color: transparent;
}



.th-red,.th-hover-red:hover{color:white!important;background-color:black!important}
.th-white,.th-hover-white:hover{color:#000!important;background-color:#fff!important}
.th-light-grey,.th-hover-light-grey:hover,.th-light-gray,.th-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.page-footer {
  position: relative;
  display: block;
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #33374B;
  color: #fff;
}
.th-gg{width:100%;height:1px;background-color: gray!important;}
